body{
  background-image: url(../images/background_light.jpg);
  background-repeat: repeat-x;
  background-size: cover;
}

.container{
  width: 960px;
  margin: auto;
}

header > img{
  margin-top: 30px;
}

.one{
  height: 313px;
  background-color: white;
}

.text{
  width: 540px;
  float: left;
  margin: 10px -20px -10px 20px;
}

.text > p{
  width: 501px;
  font-size: 12px;
  color: gray;
}

.image{
  width: 420px;
  float: right;
}

.image img{
  margin: 10px 0px -10px -10px;
}

.two{
  width: 80%;
}